body{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('./images/chalkboard.png');
    background-size: cover;
}
    

#canvas, #startScreen, #gameOver{
    background-color: transparent;
    
    position:absolute; 
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    width: 888px;
    height: 500px;
    border: 15px solid #151826;
    border-radius: 2rem;
    

}

#startScreen, #gameOver{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    
    
}


#startButton, #aboutButton, #restartButton{
    background-color: transparent;
    border: none;
    margin-top: 2rem;
    display: flex;
    position: relative;
    font-size: x-large;
    justify-content: center;

    width: 200px;
    height: 60px;
    align-items: center;
    color: white;
    
}


#startButton{
    background-image: url('./images/startButton.png');
    color: #151826
}
#startButton:hover{
    color:  #b33737;
}

#aboutButton{
    background-image: url('./images/aboutButton.png');
    color: #883737;
    margin-bottom: 6.5rem;


}

#aboutButton:hover{
    color:  #b33737;
}


#restartButton{
    background-image: url('./images/startbutton.png');
    color: #151826;
    margin-bottom: 12rem;


}

#restartButton:hover{
    color:  #b33737;
}



#backgroundImage, #canvas, #gameOver{
    display: none;
}


body{
    background-color: black;

}

